.labelDiv {
    display: flex;
    grid-column: span 8;
    grid-row: span 1;
    max-width: 100%;
    overflow: hidden;
}

.labelItem {
    width: 1fr;
    color: black;
}

.profileImage {
    display: flex;
    width: 5vh;
    height: 5vh;
    aspect-ratio: '1 / 1';
}