.messageContainer {
    height: 200px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border: 1px solid black;
    padding: 5px;
    max-width: 200px;
  }
  
  .message {
    max-width: 80%; /* Set a maximum width for the message */
    word-wrap: break-word; /* Ensure that long words wrap to the next line */
  }
  
  .chatFormContainer {
    margin-top: auto;
    display: flex;
    align-items: center;
  }

  input {
    max-width: 100px;
  }